{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'app1/style.css' %}">
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<title>Swad Trip</title>
</head>

<body>

    {#  navigation part  #}
<nav class="navbar">
    <div class="logo">
        <a href="{% url 'landing' %}">
            <img src="{% static 'app1/images/ChatGPT Image Apr 1, 2026, 06_55_01 AM.png' %}" alt="logo">
        </a>
    </div>

    <ul class="menu" id="menu">
        <li><a href="#home" class="hover-links">Home</a></li>
        <li><a href="#" class="hover-links">Officials</a></li>
        <li><a href="#explore" class="hover-links">Explore Us</a></li>
        <li><a href="#about" class="hover-links">About</a></li>
        <li><a href="#contact" class="hover-links">Contact</a></li>
        
    </ul>
        <div class="auth">
            {% if username %}
            <div style="display: flex; ">
                <div class="user" style="display:  flex; gap: 10px; margin-right: 20px ;align-items: center; flex-direction: column; margin-bottom: 5px;">
                    <i class="ri-user-fill" style="border: 1px solid rgb(210, 210, 210); padding: 10px; border-radius: 50%; background-color: rgb(224, 224, 224); font-size: 10px;"></i> <p style="  font-family: Arial, Helvetica, sans-serif;"> {{ username }}</p>
                </div>
                <a href="{% url 'logout' %}" style=" font-size: large; text-decoration: none; margin-right: -20px; border-radius: 10px; padding: 5px 20px; height: 40px; margin-top:10px ; " class="login">Logout</a>
            </div>

            {% else %}
            <a href="{% url 'login' %}" class="login" style=" font-size: large; margin-right:  ; text-decoration: none; border-radius: 10px; padding: 10px 50px;">Login</a>
            <a href="{% url 'register' %}" class="register" style=" font-size: large; text-decoration: none; margin-right: -20px; border-radius: 10px; padding: 10px 50px;">Register</a>    
            {% endif %}
        </div>
 

    <div class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
    </div>
</nav>

{#  main landing section part  #}
<section class="main-bg" id="home">
    <div class="main-bg-text">
        <h1 class="hero-text">
            <span>Delicious</span>
            <span>Food</span><br>
            <span>Delivered</span>
            <span>Fast</span>
        </h1>
        <p>Hungry? Order anytime, anywhere — we’ll deliver it everywhere!</p>
        <button class="btn-explore">Explore Now</button>
    </div>
</section>

{#  resturants carts part  #}
<section class="head" id="explore" >
    <h2>Explore Restaurants Near You</h2>
    <p>Fresh meals from your favorite places</p>
</section>

<section class="search">
   <div class="search-box">
        <input type="text" placeholder="Search for cafes, hotels, and restaurants..." />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</section>

<section class="spot-cart" id="spot-cart" >
    <div class="spot one">
            <a href="{% url 'kausik' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot two">
        <a href="{% url 'swadghar' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot three">
        <a href="{% url 'suva' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot four">
        <a href="{% url 'siddhartha' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot five">
        <<a href="{% url 'sinka' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot six">
        <a href="{% url 'chakatti' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot seven">
        <a href="{% url 'chiyaguff' %}" class="btn-menu">Explore Menu</a>
    </div>
    <div class="spot eight">
       <a href="{% url 'chiyachautari' %}" class="btn-menu">Explore Menu</a>
    </div>
</section>

{#  about us section  #}
<section class="about" id="about">
    <h2>About Us</h2>
    <p>स्वादTrip is your trusted food delivery partner, connecting you <br>  with
        your favorite meals from the best restaurants, cafés, and local spots 
        around you. Our mission is to make food ordering fast, easy, and reliable. <br></p>
        <br> <p class="more">
        With a focus on quality service and customer satisfaction, we are here to turn every meal into a delightful 
        experience.<br> Because great food isn’t just eaten… it’s experienced.</p>
</section>
<hr>

{#  contact section  #}
<section class="contact" id="contact">
    <ul class="contact-items"><p>WE'RE स्वादTrip</p>
        <li class="a"><a href=""></a>About Us</li>
        <li class="a"><a href=""></a>Delivery Charges</li>     
    </ul>
    <hr>
    <ul class="contact-items"><p>GET HELP</p>
        <li class="a"><a href=""></a>How to Order?</li>
        <li class="a"><a href=""></a>FAQs</li>
        <li class="a"><a href=""></a>Contact Us</li>
    </ul>
    <hr>
    <ul class="contact-items"><p>REACH US</p>
        <li>We are initially serving in Surkhet and</li>
        <li>studying for expand of the reach in</li>
        <li class="b">other major cities all over the Nepal.</li>
        <p>Contact details</p>
        <li>98XXXXXXXX,053-XXXXX,</li>
        <li>XXXXX,+977-XXXXXXXXX</li>
    </ul>
</section>
{#  footer section  #}
<footer>
    <hr>
    <p class="copyright">&copy; स्वादTrip Pvt.Ltd. All Rights Reserved.</p>
</footer>





<script>

{#  js for navbar  #}
    const toggle = document.getElementById("menuToggle");
    const menu = document.getElementById("menu");

    toggle.addEventListener("click", () => {
        menu.classList.toggle("active");

        // change icon
        toggle.innerHTML = menu.classList.contains("active")
            ? '<i class="fas fa-times"></i>'
            : '<i class="fas fa-bars"></i>';
    });

// Select all nav links scroll
    const navLinks = document.querySelectorAll('.hover-links');
    navLinks.forEach(link => {
    link.addEventListener('click', function(e) {
        e.preventDefault(); 

        const targetId = this.getAttribute('href');
        const targetSection = document.querySelector(targetId);

        targetSection.scrollIntoView({
        behavior: 'smooth'
        });
    });
    });


// for navbar become solid after some time
window.addEventListener("scroll", function () {
    let navbar = document.querySelector(".navbar");
    let spot = document.querySelector("#spot-cart");

    let sectionTop = spot.offsetTop;

    if (window.scrollY >= sectionTop - 50) {
        navbar.classList.add("solid");
    } else {
        navbar.classList.remove("solid");
    }
});



</script>
</body>
</html>