* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6%;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transition: 0.5s ease-in-out;
}

.logo img {
    height: 55px;
}

.hover-links {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 6px 12px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.hover-links:hover {
    color: orangered;
    border-color: orangered;
}

.cart-main {
    width: 90%;
    max-width: 450px;
}

.cart-title {
    text-align: center;
    color: #f04646;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 600;
}


.cart-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(230, 126, 34, 0.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #fdf2e9;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.item-price {
    color: #e67e22;
    font-size: 0.9rem;
}

.quantity-pick {
    display: flex;
    align-items: center;
    gap: 12px;
}

.qty-btn {
    text-decoration: none;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.qty-btn.increase {
    color: #e11010;
}

.qty-btn.decrease {
    color: #777;
}

.qty-btn:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, orange, orangered);
    color: white;
}

.qty-number {
    font-weight: 600;
    min-width: 20px;
    text-align: center;
}

.cart-summary {
    margin-top: 25px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.total-amount {
    color: #d35400;
}

.checkout-link {
    text-decoration: none;
}

.btn-checkout {
    width: 100%;
    background: linear-gradient(45deg, orange, orangered);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-checkout:hover {
    transform: scale(1.03);
}